<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553795253125-r2h5c7v9o8ig7pfu7i0q27f0sa4sq6ba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553795253125-r2h5c7v9o8ig7pfu7i0q27f0sa4sq6ba</string>
	<key>API_KEY</key>
	<string>AIzaSyBk32B6hjWLxWEAOfrKWt9q_3HdXw0kk4c</string>
	<key>GCM_SENDER_ID</key>
	<string>553795253125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.animeFandom</string>
	<key>PROJECT_ID</key>
	<string>bong-anime-fandom</string>
	<key>STORAGE_BUCKET</key>
	<string>bong-anime-fandom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553795253125:ios:1cad8a923210582f90caec</string>
</dict>
</plist>